@-moz-keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
	}
}

@-webkit-keyframes scroll-left {
	0% {
		-webkit-transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

@-webkit-keyframes PinkGradient {
    0%{background-position:40% 0%}
    50%{background-position:61% 100%}
    100%{background-position:40% 0%}
}

@keyframes PinkGradient {
    0%{background-position:40% 0%}
    50%{background-position:61% 100%}
    100%{background-position:40% 0%}
}

@-webkit-keyframes YellowGradient {
    0%{background-position:40% 0%}
    50%{background-position:61% 100%}
    100%{background-position:40% 0%}
}
@keyframes YellowGradient {
    0%{background-position:40% 0%}
    50%{background-position:61% 100%}
    100%{background-position:40% 0%}
}

@-webkit-keyframes GreenGradient {
    0%{background-position:40% 0%}
    50%{background-position:61% 100%}
    100%{background-position:40% 0%}
}
@keyframes GreenGradient {
    0%{background-position:40% 0%}
    50%{background-position:61% 100%}
    100%{background-position:40% 0%}
}
