:root {
  --color-background: #fff000;
  --color-primary: #000;
  --color-logo: dark;
}

[data-theme='dark'] {
  --color-background: #000;
  --color-primary: #fff;
  --color-logo: light;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);

  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, Inter, Roboto, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
