:root {
  --color-background: #fff000;
  --color-primary: #000;
  --color-logo: dark;
}

[data-theme='dark'] {
  --color-background: #000;
  --color-primary: #fff;
  --color-logo: light;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  position: relative;
  margin: 0;
}
